In [1]:
import socket

In [2]:
s= socket.socket()

In [3]:
s.connect(('localhost',4242))

In [4]:
line = "STATUS 1 PUB"
s.sendall(line.encode())

In [5]:
res = s.recv(1024)
print(f'={res.decode()}')

=OK 1 500000

In [6]:
cmd = "STATUS 1 PUB\r\nSTATUS 2 SUBN\r\nSTATUS 3 SUB\r\nSTATUS 4 UNSUB\r\nSTATUS 5 GET\r\nSTATUS 6 SET\r\n"

In [7]:
s.sendall(cmd.encode())

In [8]:
res

b'OK 1 500000\r\n'

In [9]:
res.decode()

'OK 1 500000\r\n'

In [10]:
res = s.recv(1024)
print(f'={res.decode()}')

=OK 1 500000
OK 2 500000
OK 3 10
OK 4 0
OK 5 0
OK 6 0

In [11]:
sentence = res.decode()

In [12]:
sentence

'OK 1 500000\r\nOK 2 500000\r\nOK 3 10\r\nOK 4 0\r\nOK 5 0\r\nOK 6 0\r\n'

In [13]:
result = sentence.split('\r\n')[:-1]
result

['OK 1 500000', 'OK 2 500000', 'OK 3 10', 'OK 4 0', 'OK 5 0', 'OK 6 0']

In [14]:
commands = ["PUB", "SUBN", "SUB", "UNSUB", "GET", "SET"]

In [15]:
for i, res in enumerate(result):
    _, id_person, count = res.split()
    id_person = int(id_person)
    count = int(count)
    print(commands[i], count)

PUB 500000
SUBN 500000
SUB 10
UNSUB 0
GET 0
SET 0

In [16]:
def count():
    count = [0 for _ in range(len(commands))]
    for i, res in enumerate(result):
        _, id_person, count_res = res.split()
    #     id_person = int(id_person)
        count[i] = int(count_res)
    return count

In [17]:
cmd.encode()

b'STATUS 1 PUB\r\nSTATUS 2 SUBN\r\nSTATUS 3 SUB\r\nSTATUS 4 UNSUB\r\nSTATUS 5 GET\r\nSTATUS 6 SET\r\n'

In [18]:
res

'OK 6 0'

In [ ]:
res.decode().strip("=")

In [ ]:
import sqlite3
import datetime

In [ ]:
now = datetime.datetime.now()
print('now', now)

nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
conn = sqlite3.connect('database.db', isolation_level=None)# #auto commit

In [ ]:
c = conn.cursor()
c.execute(
    "CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, phone text, website text, regdate text)")  # AUTOINCREMENT

In [ ]:
# 데이터 삽입
# c.execute("INSERT INTO users VALUES (1 ,'Kim','Kim@naver.com', '010-0000-0000', 'Kim.com', ?)", (nowDatetime,))
c.execute("INSERT INTO users(username, email, phone, website, regdate) VALUES ( ?, ?, ?, ?, ?)",
          ('Park', 'Park@naver.com', '010-1111-1111', 'Park.com', nowDatetime))

In [ ]:
c = conn.cursor()
c.execute(
    "CREATE TABLE IF NOT EXISTS status(id INTEGER PRIMARY KEY, pub INTEGER, subn INTEGER, sub INTEGER, unsub INTEGER, get_ INTEGER, set_ INTEGER, regdate text)")  # AUTOINCREMENT

In [ ]:
count_res = count()
count_res

In [ ]:
c.execute("INSERT INTO status(pub, subn, sub, unsub, get_, set_, regdate) VALUES ( ?, ?, ?, ?, ?,?,?)",
          count_res+[nowDatetime])

## pymysql

In [21]:
!pip install pymysql

Looking in indexes: http://ftp.daumkakao.com/pypi/simple
Collecting pymysql
  Downloading http://mirror.kakao.com/pypi/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 11.6MB/s ta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [22]:
import pymysql

In [38]:
dbServerName    = "cw.cloa.io"
dbUser          = "admin"
dbPassword      = "cloa2514"
dbName          = "cloaweb"
port       = 3306

In [39]:
db = pymysql.connect(host=dbServerName,
                             user=dbUser,
                             password=dbPassword,
                             db=dbName,
                            port = port)
cursor = db.cursor()

In [41]:
cursor.execute('SELECT * FROM status_statuscode')

0

In [42]:
cursor.fetchall()

()

In [43]:
cursor.execute('SELECT * FROM status_statuslog')

0

In [44]:
cursor.fetchall()

()

In [ ]:
cursor.execute("INSERT INTO _status_log (cmd_id, value, created_at) VALUES (1, 1000, NOW())")

In [ ]:
row = cursor.fetchone()
while row:
    print(row[0], row[1])
    row = cursor.fetchone()